/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 20px; /* Adicione um padding para dispositivos móveis */
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px; /* Ajuste do recuo lateral */
}

.flex {
    display: flex;
    justify-content: space-between; /* Distribui os elementos horizontalmente */
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens sejam quebrados para uma nova linha */
}

h2.titulo {
    padding-top: 70px;
    font-size: 2.5em;
    text-align: center;
}

h2.titulo span {
    color: #06b2be;
}

.contador {
    text-align: center;
}

#contador {
    font-family: 'Roboto Mono', monospace;
    font-size: 2em; /* Ajuste o tamanho do contador */
    background-color: #000;
    color: #06b2be;
    padding: 20px;
    border-radius: 10px;
}

.btn-contato button {
    color: #fff;
    padding: 10px 20px; /* Ajuste o padding */
    font-size: 1em; /* Ajuste o tamanho da fonte */
    font-weight: 600;
    background-color: #06b2be;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    box-shadow: 8px 8px 8px #06b2be75;
    transform: scale(1.05);
}

header {
    padding: 30px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo da logo com efeito de sombra e zoom */
.logo-img {
    transition: .2s;
    cursor: pointer;
}

.logo-img:hover {
    transform: scale(1.05);
}

section.topo-do-site {
    padding: 100px 4%; /* Ajuste o padding */
    background-image: url('images/bg01.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center; /* Centraliza os elementos */
    gap: 20px; /* Ajuste o espaço entre os elementos */
}

.topo-do-site .txt-topo-site h1 {
    font-size: 2em; /* Ajuste o tamanho da fonte */
    line-height: 1.2em; /* Ajuste o espaçamento entre linhas */
}

.topo-do-site .txt-topo-site h1 span {
    color: #06b2be;
}

.topo-do-site .txt-topo-site p {
    font-size: 1em; /* Ajuste o tamanho da fonte */
    margin: 20px 0;
    padding: 20px;
    background-color: #0000004b;
    border-radius: 30px;
}

/* Estilo da galeria de imagens */
.produto-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Opcional: alinha verticalmente os itens */
    flex-wrap: wrap; /* Permite quebra de linha */
    margin-bottom: 20px; /* Espaçamento entre os containers */
    text-align: left; /* Alinhar texto à esquerda */
}

.produto-box-txt {
    flex: 1;
    order: 1; /* Alinhar texto à esquerda */
    font-size: 1.2em; /* Ajuste o tamanho da fonte */
    padding: 20px;
    background-color: #ffffff17;
    border-radius: 30px;
    margin: 10px;
}

.produto-box-img {
    flex: 1;
    order: 2; /* Alinhar imagem à direita */
    padding: 20px;
    margin: 10px;
}

.data-bank,
.base-dados,
.dashboard {
    text-align: left;
}

/* Estilo da seção Trilhas e Planilhas */
.sobre {
    padding: 50px 4%;
    background-color: #000;
    display: flex;
    flex-direction: column; /* Alinha os elementos em coluna para mobile */
    align-items: center;
}

.sobre-container {
    display: flex;
    flex-direction: column; /* Alinha os elementos em coluna */
    align-items: center; /* Centraliza os itens */
    gap: 20px; /* Espaçamento entre os itens */
}

.sobre-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.sobre-texto {
    max-width: 100%;
    font-size: 1em; /* Ajuste o tamanho da fonte */
    padding: 20px;
    background-color: #ffffff17;
    border-radius: 10px;
}

.sobre-texto h2 {
    margin-bottom: 10px;
}

.sobre-texto p {
    margin-bottom: 20px;
}

.sobre-texto h2 span,
.sobre-texto p span {
    color: #06b2be;
    font-weight: bold;
}

/* Nova Seção: Liberdade Financeira */
.liberdade-financeira {
    padding: 20px 4%;
    background-color: #000;
    text-align: center;
}

.liberdade-financeira .titulo {
    font-size: 2em; /* Ajuste o tamanho da fonte */
}

.liberdade-financeira .contador #contador2 {
    font-size: 2em; /* Ajuste o tamanho da fonte */
}

.liberdade-financeira .promo-img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.liberdade-financeira .btn-contato {
    display: flex;
    justify-content: center;
}

.liberdade-financeira .btn-contato button {
    padding: 10px 20px; /* Ajuste o padding */
    font-size: 1em; /* Ajuste o tamanho da fonte */
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .interface {
        padding: 0 20px;
    }

    h2.titulo {
        font-size: 1.5em;
    }

    #contador {
        font-size: 1.5em;
    }

    .btn-contato button {
        font-size: 1em;
        padding: 10px 20px;
    }

    section.topo-do-site {
        padding: 50px 4%;
    }

    .topo-do-site .txt-topo-site h1 {
        font-size: 1.5em;
    }

    .topo-do-site .txt-topo-site p {
        font-size: 1em;
    }

    .produto-container {
        flex-direction: column;
    }

    .produto-box-txt {
        order: 1;
    }

    .produto-box-img {
        order: 2;
    }

    .sobre-container {
        flex-direction: column;
    }

    .sobre-texto {
        font-size: 1em;
    }
}
